
@import '~styles/themes';

.tabNav {
    background-color: #ffffff;
    width: auto;
    padding: 0.7% 1% 0 0.2%;
    border: 1px solid transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    
}

.tabNavList {
    list-style: none;
    padding-bottom: 0.5em;
    margin-bottom:-0.2em;
    margin-top: 0;
    
}
.tab {
    display: inline;
    cursor: pointer;
    text-align: center;
    padding-left: 0.3em;
    padding-right:  0.3em;
    
}

.tabIcons {
    width: 1em;
    color: rgba(0, 0, 0, 0.3);
    padding-top: 0em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    position: relative;
    top: 0.3em;
    font-size: 1.2em;
}

.tabLink {
    text-decoration: none; 
    display: inline-flex;
    padding: 0.3em 0.4em;
    width: auto;
    position: relative;
    padding-bottom: 0.9em;
    bottom: -0.5em;
}
.onFocus {
     border-bottom: 3px solid orange;
} 
.tabTitle {
   color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    position: relative;
    bottom: -0.5em;
    font-family: 'Roboto Regular';
    font-size: 1em;
    letter-spacing: 0.5px;
}

.searchBox {
    float: right;
    padding: 0.5em;
    margin-top: -2.7em;
    width: 40%;
    
}

.searchInput {
    padding: 0.3em;
    padding-left: 1em;
    width: 100%;
    float: left;
    padding-left: 2em;
    font-size: 1em;
    border: 0.1px solid #F2F2F2;
    background-color: #F2F2F2;
}
.searchInput:focus {
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
}
.tabSearchIcon {
    position: relative;
    z-index: 5;
    float: left;
    left: 0.2em;
    top: -1.45em;
    padding: 0.2em;
    font-size: 1.1em;
}

.tabContent {
    background-color: #F2F2F2;
    min-height: 74vh;
    margin-top:0.5em;
    padding: 0.5;
}