@import '~styles/themes';
@mixin button {
    font-family: 'Roboto Regular';
    font-weight: normal;
    border: 0px;
    padding: 10px 11px;
    letter-spacing: 1.5px;
    color: white;
    background: $primary;
    font-size: 11px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
}

.button {
    @include button
}

.button:focus {
    box-shadow: 1px 1px 8px #CCCCCC;
    outline: none;
    opacity: 0.7;
}

.elevated {
    border: 1px solid transparent;
    box-shadow: 1px 1px 2px #CCCCCC;
    background-color: $accent;
    
}

.fab {
    background-color: $accent;
}

.transparent {
    border: 1px solid transparent;
    background-color: transparent;
}

.inverted {
    background-color: $white;
    color: $accent;
}

.neutral {
    border: 1.5px solid #CCCCCC;
    border-radius: 5px;
    background-color: #ffffff;
    color: #4A4A4A;
    font-size: 0.7em;
    font-weight: bold;
    font-family: 'Roboto Regular';
    letter-spacing: 1px;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.title {
    font-size: 12px;
    text-transform: capitalize;
    position: relative;
    padding-right: 0.5em;
    font-size: 12px;
    text-transform: capitalize;
    padding: 0.8em 0 ;
    font-weight: bold;
}

.loadingButton {
    opacity: 0.7;
    background: #4A4A4A;
}
.loadingTitle {
    position: relative;
    top: -3px;
    color: $white;
}

.loader {
    display: inline-block;
    margin-left: 10px;
}

.fab {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-right: 1.5em;
    position: fixed;
    float: right;
    left: 94%;
    top: 86vh;
}