.logoBorderStyle {
    border: 1px solid rgb(202, 238, 26);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgb(202, 238, 26);
    position: relative;
    float: left;
    margin: -4.5px -8px -8px 8px;
}