@import '~styles/themes';
@import 'Layout';

.notificationLabel {
  position: absolute;
  right: 30%;
  cursor: pointer;
  bottom: 4px;
  text-align: center;
  padding: 5px 8px;
  font-size: 10px;
  color: $white;
  background-color: #f5a623;
  border-radius: 50%;
  display: none;
 box-shadow: 1px 1px 1px darkslateblue;
 @include susy-breakpoint(980px,$susy) {
   right: 3%;
 }
}

.notificationLabelisActive {
  display: block;
}
