@import '~styles/themes';
//@import 'Layout';

$susy: (
  columns: 12,
  container: 1140px,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
//   debug: (
//       image: show,
//       color: rgba(#66f, .25),
//       output: background,
//       toggle: top right,
//     )
);

@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.card {
    padding: 10px;
    background-color: $white;
    width: 100%;
    color: black;
    border-radius: 3px;
    //height: 80vh;
}

.cardRight {
    right: 40px;
}

.cardLeft {
    left: 40px;
}

.cardCenter {
    @include container(auto);
    position: relative;
    padding-top: 10px;
    width: 55%;
    top: 57px;
    background-color: $white;
    box-sizing: border-box;
    margin: 20px auto;
    //border: 1px solid blue;
   @include clearfix();
}

.cardList {
    margin: 0px;
    padding: 5px 0px;
    padding-bottom: 0px;
    font-size: 11px;
    letter-spacing: 1px;
    @include clearfix;
    font-family: 'Roboto Light'
}

.cardListItem {
    list-style: none;
    border-bottom: 1px solid #ccc;
   // margin-top: 20px;
    padding: 5px;
    display: block;
    text-align: center;
    position: relative;
    @include clearfix;
}



.cardButton {
    width: 70%;
    
}

.cardNotificationList {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding:2px 1px;
    @include clearfix;
    text-align: left;
    letter-spacing: 1px;
    position: relative;
   // margin-top: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    //border: 1px solid red;
    height: 42vh;
    overflow: hidden;
    .contentAvatar {
        border: 1px solid #a6a6a6;
    }
    
}
.cardViewAll {
        float: none;
        text-align: center;
        font-size: 12.5px;
        font-weight: bold;
        margin-left: 38%;
    }

.cardNotificationListItem {
    @include clearfix();
    border-bottom: 1px solid #ccc;
}

.JobFeedContent {
    float: left;
    text-align: left;
}

.JobLFeedText {
    line-height: 20px;
    text-align: left;
    margin-left: 10px;
}
 
.JobFeedLocation {
    position: absolute;
    right: 0;
    top: 8px;
    color: #a6a6a6;
}

.JobFeedLocationIsOn {
    color: #cc0000;
}

.friendList {
    height: 33em;
    padding-top: -15px;
    overflow: hidden; 
}

.friendAvatar {
    float: left;
}

.friend {
    @include clearfix();
    margin-top: 0.8em;
}

.friendDetails {
    float: left;
    width: 73%;
    height: 2.5em;
    border-bottom: 1px solid #ccc;
}
.friendIsActive {
    border-bottom: 1px solid $primary;
}
// .cardFriendListItem {
//     @extend .notificationContentListItem;
//     margin-bottom: 10px;
//     .contentDetails {
//         border-bottom: 1px solid #ccc;
//     }
//     .contentAvatar {
//         width: 2.5em !important;
//         height: 2.5em !important;;

//     }
// }

.cardFriendListItemisActive {
    .contentDetails {
        border-bottom: 1px solid $primary;
    }
    .contentAvatar {
        border: 1px solid $primary;
    }
}