
.alert {
    border: 1px solid transparent;
    border-radius: 3px;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    position: absolute;
    z-index: 55;
    font-size: 0.9em;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.alertInfo {
    background-color: rgba(204,204,204, 70);
    color: #000000;
}

.alertWarning {
 background-color: rgba(202,238,26, 50);
 color: #000000;
}

.alertError {
    background-color: rgba(251,26,87, 0.6);
    color: #ffffff;
}

.alertSuccess {
    background-color: rgba(19,207,145, 100);
    color: #000000;
    font-weight: bold;
    font-family: 'RobotoBold';
}

.alertLarge {
    padding: 0.5em;
}

.alertMedium {
    padding: 0.3em;
}

.alertSmall {
    width: auto;
    padding: 0.1em;
    padding-left: 2em;
    padding-right: 2em;
    
}

.center {
    margin-left: 22%;
    margin-right: auto;
}

.left {
    margin-left: auto;
}

.right {
    margin-right: auto;
}