@import '~styles/themes';

@mixin modalContent {
    position: absolute;
    z-index: 100;
    opacity: 1;
    top: 12vh;
    background: $white;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-height: 10em;
    height: auto;
}

.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, .8);//rgba(65,117,5, .97);
    opacity: .7;
    z-index: 99;
    display: inline;
    left: 0;
    overflow-y: hidden;

}

.modalSmall {
    @include modalContent;
        width: 80%;
    @include susy-media(540px 740px) {
        width: 60%;
    }
    @include susy-media(740px) {
      width: 35%
    }
  
  
}

.modalMedium {
    @include modalContent;
    width: 85%;
    top: -5vh;
    position: absolute;
    @include susy-media(540px 740px) {
        width: 80%;
    }
    @include susy-media(740px) {
      width: 40%;
      top: 10vh;
    }
}

.modalLarge {
    @include modalContent;
    margin-left: -10%;
    width: 85%;
    @include susy-media(740px) {
        // width: 93%
    }
}

