.conversationP {
    position: relative;
    margin-top: 1.5em;
    word-wrap: break-word;
    padding-right: 1em
}

.conversation {
    width: auto;
    font-family: 'Roboto Regular';
    font-size: 0.9em;
    text-align: left;
    line-height: 1.2em;
    padding: 0.5em;
    margin-left: 1.5em;
    // background: yellow;
    letter-spacing: 1px;
    background-color: rgba(202,238,26, 0.5);
    border-radius: 10px;
    // word-break: 40;
    word-wrap: break-word;
    display: inline-table;
    margin-top: -1em;
    margin-bottom: -1em;


}