@import '~styles/themes';
@import 'Layout';

$susy: (
  columns: 12,
  container: 1140px,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
  debug: (
      image: show,
      color: rgba(#66f, .25),
      output: background,
      toggle: top right,
    )
);

.orange {
  background-color: yellow;
}
.header {
  @include span(12 of 12);
  position: relative;
  background-color: $primary;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 -1px 8 #000000;
  top: 0;
  border: 1px solid transparent;
  box-shadow: 1px 1px 2px #CCCCCC;
}

.headerTitle {
  // font-size: 1.6em;
  // color: $white;
  // letter-spacing: 1.4px;
  // font-weight: lighter;
  // margin-left: 0.3em;
  // text-decoration: none;
  // float: left;
  // padding-left: 0.2em;
  
  font-size: 1em;
  color: $white;
  letter-spacing: 1.4px;
  font-weight: lighter;
  margin-left: 0.3em;
  text-decoration: none;
  text-align: center;
  padding-left: 0.5em;
  padding-top: 0.4em;

  a {
    text-decoration: none;
    color: $white;
  }
  @include susy-breakpoint(min-width 480px) {
    padding-left: 0.5em;
    padding-top: 0.3em;
    font-size: 1.1em;
  }
}

.headerNavButton {
  float: left;
  padding-left: 0.5em;
  font-weight: bold;
  cursor: pointer;
  @include susy-breakpoint(min-width 980px) {
    display: none;
  }
}

.headerNavButtonIcon {
  cursor: pointer;
  position: absolute;
  top: -0.3em;
  right: 0;
  padding: 15px 10px;
  color: $white;
  @include susy-breakpoint(min-width 980px) {
    display: none;
  }
}

.headerNavButtonIconActive {
  background-color: #346196;

}

.headerSearchButton {
  float: right;
  position: relative;
  right: 50px;
  color: $white;
  @include susy-breakpoint(min-width 980px) {
    display: none;
  }
}
.headerSearchBox {
  float: right;
  width: span(7 of 12 last);
  @include susy-breakpoint(min-width 980px) {
    width: span(4 of 12);
    float: right;
    margin-right: 40%;
  }
}

.searchBoxInput {
  width: span(6 of 7 last);
  padding: 0.7em;
  margin-top: -0.2em;
  border: 1px solid transparent;
  border-radius: 6em;
  padding-left: 1em;
  padding-right: 2.3em;
  font-size: 14px;
  @include susy-breakpoint(min-width 980px) {
    text-transform: capitalize;
    padding-right: 4em;
  }
}

.searchBoxIcon {
  float: right;
  position: relative;
  right: 20%;
  padding-top: 0.2em;
}

.searchActive {
  position: absolute;
  z-index: 55;
  left: 0.5em !important;
  float: none;
  width: 94%;
  border: 1px solid transparent;
  border-radius: 0;
  padding-left: 3em;
  @include susy-breakpoint(min-width 980px) {
    width: 36%;
    margin-left: 20%;
  }
}

.searchBoxCancel {
  display: none;
}

.searchBoxCancelVisible {
  display: inline-block;
  position: relative;
  z-index: 55;
  right: 66%;
  float: left;
  top: 0.3em;
  font-weight: bold;
  cursor: pointer;
  @include susy-breakpoint(min-width 980px) {
    position: absolute;
    left: 21.5%;
    top: 1.2em;
  }

  .material-icon {
    font-size: 1.4em;
    font-weight: bold;
  }
}



.headerNavlist {
  display: inline-block;
  position: absolute;
  width: 75%;
  left: 0;
  height: auto;
  margin-top: 10vh;
  margin-left: 2vh;
  @include susy-breakpoint(min-width 980px) {
    position: relative;
    height: auto;
    width: auto;
    background-color: inherit;
    padding: 0;
    margin: 0 -7em 0 0;

  }
}

.headerNavText {
	letter-spacing: 1px;
}

.headerNavlistOverlay {
  width: 20%;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  right: 0;
  height: 100vh;
  // display:none;
  @include susy-breakpoint(min-width 980px) {
    display: none;
  }
}

.headerNavlistOverlayShow {
  display: inline-block;
}

.headerNav {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 4em;
  display: none;
  @include susy-breakpoint( min-width 980px) {
    width: auto;
    display: inline-block;
    height: auto;
    float: right;
    right: 8em;
    top: 1.4em;
  }
}

.headerNavShow {
  display: inherit;
  background-color: white;
}

.headerNavListItem {
  a {
    display: flex;
    text-decoration: none;
    width: auto;
    padding: 1em 1em 1em 10%;
    margin-bottom: 0.5em;
    text-align: center !important;
  }
  @include susy-breakpoint(min-width 980px) {
    display: inline-block;
    float: right;
    // background: yellow;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: -0.4em;
    a {
      padding: 0 1em;
      display: inherit;
      color: white;
      font-size: 0.95em;
    }
  }
}

.headerNavIcon {
  position: absolute;
  top: 58px;
  padding: 10px;
  left: 0;
  width: span(12 of 12);
  box-sizing: border-box;
  background-color: #346196;
  display: none;
  
  @include susy-breakpoint(980px,$susy) {
    display: none;
  }
}

.headerNavIconSecondary {
  display: none;
  @include susy-breakpoint(980px,$susy) {
    display: block;
    width: span(2.3 of 12);
    position: relative;
    float: right;
    margin-right: 3em;
    margin-top: -5px;
    margin-bottom: -3px;
  }
}

.headerNavIconShow {
  display: inline-block;
  border-top: 2px solid $primary;
  @include susy-breakpoint(980px,$susy) {
    display: none;
  }
}

.headerNavItem {
  @include span(3 of 12);
  text-align: center;
  color: $white;
  position: relative;
  i {
      color: $white;
      @include susy-breakpoint(980px,$susy) {
        font-size: 38px;
      }
  }
}

.headerNavContent {
  padding: 10px;
  padding-bottom: 15px;
  position: absolute;
  top: 57px;
  width: 250px;
  color: black;
  right:20px;
  transition: all 50s;
  display: none;
  z-index: 100;
  background-color: $white;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 1px 2px #ccc;
}

.headerNavContentList {
  text-decoration: none;
  list-style: none;
}

.headerNavContentisActive {
  display: block;
   transition: all 50s;
}

.headerUserSearchBox {
  z-index: 100;
  position: absolute;
  right: 10px;
  padding: 8px;
  box-sizing: border-box;
  top: 7px;
  background-color: $white;
  left: 10px;
  display: none;
 }

.headerUserSearchBoxisActive {
  display: block;
  @include susy-breakpoint(980px,$susy){
    display: none;
  }
}  

 .searchBoxDropDown {
   display: none;
 }

.headerUserSearchBoxInput {
  width: 80%;
  margin-top: 3px;
  font-family: 'Roboto Light';
  //letter-spacing: 1px;
  border: none;
  font-size: 14px;
  padding: 4px;
  outline: none;
}

.UsersearchBoxIcon {
   float: left;
  color: $primary;
  @include susy-breakpoint(980px,$susy) {
  float: right;
  color: black;
  }
}

.UsersearchBoxCancel {
  float: right;
}
 .searchBoxDropDown{
    display: none;
 }

 .searchBoxDropDownisActive {
  position: absolute;
  left: span(0.5 of 12);
  box-shadow: 0px 1px 1px 2px #ccc;
  right: span(0.5 of 12);
  top: 51px;
  box-sizing: border-box;
  height: 150px;
  background-color: $white;
  @include susy-breakpoint(980px,$susy) {
    height: 100vh;
    width: span(12 of 12);
    top: 56px;
    left: 0;
    right: 0;
    }
  }



.searchBoxButton {
  border: 1px solid transparent;
  padding: 0.5em 0.6em 0.5em 0.6em;
  background-color: yellow;
  color: black;
  border-radius: 3px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  display: none;
}

.searchBoxButtonVisible {
    display: inline-block;
    float: right;
    position: absolute;
    z-index: 55;
    right: 5%;
    margin-top: -0.2em;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);

    @include susy-breakpoint(min-width 340px) {
      right: 5%;
    }
    @include susy-breakpoint(min-width 530px) {
      right:  5%;
    }
    @include susy-breakpoint(min-width 976px) {
      right: 35%;
    }
}
