@import '~styles/themes';
@import 'Layout';

$susy: (
  columns: 12,
  container: 1140px,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
//   debug: (
//       image: show,
//       color: rgba(#66f, .25),
//       output: background,
//       toggle: top right,
//     )
);

@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.timelineContainer {
    width: span(12 of 12);
    @include susy-media(480px) {
        width: span(10 of 12);
        margin: 0px auto; 
    }
}

.postForm {
    box-sizing: border-box;
    position: relative;
    width: span(12 of 12);
    margin-top: 10px;
    height: 100px;
    margin-bottom: 50px;
    @include susy-media(480px) {
        width: span(9 of 12);
        margin-left: auto;
        margin-right: auto; 
    }
}

.postFormInput {
    width: 100%;
    font-size: 12px;
    background-color: #ffffff;
    padding: 10px 5px;
    resize: none;
    border-radius: 3px;
    font-family: 'Roboto Light';
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    padding-left: 2em;
    height: 150px;

    @include susy-media(480px) {
        height: 100px;
        
    }
}

.postFormImgButton {
    padding: 0px;
    padding-bottom: -2px;
    background: $white;
    border: 0px;
    height: 29px;
    top: 0.7em !important;
    position: relative;
    border-radius: 2px;
    @include susy-media(480px) {
        position: relative;
        top: 13px;
    }
    
}

.postFormButton {
    border: 0px;
    display: inline-block;
    background: $accent;
    color: $white;
    letter-spacing: 1px;
    padding: 8px 15px;
    font-size: 0.9em;
    font-family: 'Roboto Light';
    border-radius: 2px;
    margin-left: 15px;
    border-radius: 3px;
}
.postFormInputBottom {
    position: absolute;
    bottom: 5px;
    width: 93%;
    @include susy-media(480px) {
        position: absolute;
        bottom: 5px;
        left: 2px;
        padding: 0.5em 0.8em;
    }
}

.postFormBottomRight {
    float: right;
    position: relative;
    bottom: -3em;
    @include susy-media(480px) {
        bottom: -0.3em;    
    }
    
}
.postFormBottomLeft {
    float: left;
    position: relative;
    bottom: -3.3em;
    display: inline-block;
    width: 100%;
    padding-left: 0.7em;
    @include susy-media(480px) {
        width: auto;
        bottom: -1.3em;
    }
}
.feedContainer {
    box-sizing: border-box;
    @include clearfix;
    padding-bottom: 30px;
    margin-top: 10px;
    @include susy-media(480px) {
        padding: 10px;
        width: 89%;
    }
}

.postAvatar {
    float : left;
    position: relative;
    top: 1.5em;
    @include susy-media(480px) {
        position: inherit;
        top: 0;
    }
    @include susy-media(480px 860px) {
        position: relative;
        left: 3%;
    }
}

.fieldDetails {
    box-sizing: border-box;
    @include span (12 of 12 );
    font-family: 'Roboto Light';
    font-weight: bold;
    font-size: 13px;
    position: relative;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 0.8em;
    @include susy-media(480px) {
        @include span(10.5 of 12 last);
        padding: 2em;
        
    }
}

.postHeader {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding: 3px 25px;
    text-transform: capitalize;
}

.postMessage {
    padding: 10px 0px;
    padding-bottom: 5px;
    font-size: 1.1em;
    letter-spacing: 0.1px;
    word-spacing: 0.2px;
    
}

.feedActionButtonContainer {
    margin: 5px 0px; 
    // border-bottom: 1px solid blue;
    @include clearfix();
}

.feedActionButton {
    float: left;
    border: 0px;
    background: none;
    color: #b3b3b3;
    margin-right: 5px;
    font-family: 'Roboto Light';
    position: relative;
    cursor: pointer;
}

.feedCommentBox {
    @include clearfix();
    margin-top: 5px;
}

.feedCommentAvatar {
    float: left;
}

.feedCommentInputBox {
    @include span(9 of 12 ) ;
    resize: none;
    height: 50px;
    border-radius: 2px;
    margin-left: 1em;
    border: 1px solid #CCCCCC; 
}

.tagButton {
    border: 1px solid transparent;
    font-size: 0.9em;
    margin-right: 0.5em;
    border-radius: 10px ;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    text-align: center;
    font-family: 'Roboto Regular';
    text-transform: capitalize;
    background: #CCCCCC;
    @include susy-media(480px) {
        padding-left: 0.4em;
        padding-right: 0.4em;
    }
    
}


