@import '~styles/themes';


$susy: (
  columns: 12,
  container: 1140px,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
  debug: (
      image: show,
      color: rgba(#66f, .25),
      output: background,
      toggle: top right,
    )
);

.sidebar {
  @include span(2.5 of 12);
  background-color: #346196;  
  min-height: 100vh;
  height: auto;
  padding: 0;
  position: relative;
}
.sidebarMinimized {
  @include span(0.9 of 12);
}

.sidebarHeader {
    background-color: #3C70AD;
    @include span(2.5 of 2.5 inside);
    padding-top: 5.5%;
    padding-bottom: 4%;

}
.sidebarLogo {
  padding-left: 0.4em;
  padding-top: 0.4em;
  // margin-bottom: -1em;
  display: inline-flex;
  width: inherit;
  height: auto;
}
.sidebarTitle {
    color: #ffffff;
    font-size: 1.2em;
    padding: 1em 1em 0.9em 0.9em;
}

#sidebarTitleLink {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    padding-top: 0.1em;
}



.sidebarNavToggle {
    float: right;
    margin : -0.1em 1em;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
}
.sidebarNavToggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
 .materialIcons {
    font-size: 1em;
    color: #ffffff;
  }
  .sidebarBodyMinimized {
    margin-left: -23%;
    width: auto;
    padding: 1%;
  }
  .sidebarBody {
      margin-top: 50%;
      overflow-x: hidden;
  }

  .sidebarList {
      margin-bottom: 3em;
      width: 100%;
      overflow-x: hidden;
  }
  .sidebarItem {
    list-style: none;
    width: inherit;
    // background-color: orange;
    margin: 0.1em 0em;
    margin-left: -15%;
    float: left;
    word-wrap: break-word;
    border-bottom: 0.01px dashed rgba(255, 255, 255, 0.4);
   
  }

  .sidebarItemMinimized {
    display: none;
  }

  .sidebarItemTitle {
    padding: 0.7em 0.3em 0.3em 0;
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
  }

  .sidebarItemIcons {
    font-size: 1.9em;
    padding: 0 0.5em; 
    width: 1em;
    position: relative;
    top: -0.9em;
  }

  .sidebarItemLink {
    text-decoration: none;
    color: #ffffff;
    padding: 0em 0;
    cursor: pointer;
    display: inline-flex;
    background-color: 346196;
    padding: 1em 1em 1em 1em;
    width: inherit;
  }

  .sidebarItemLink:hover {
      background-color: #3C70AD;
  }
