// :global {
//     @import 'react-select/dist/react-select.css';
// }
// :global {
//     @import 'react-virtualized-select/styles.css';
// }
// :global {
//     @import 'react-virtualized/styles.css';
// }

.inputField {
    width: inherit;
    font-size: 0.9em;
    padding: 0.5em;
    border: .5px solid #CCCCCC;
    border-radius: 5px;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    background: #F8F8F8;
}

.inputField:focus {
    background: #ffffff;
    box-shadow: none;
}

.inputLabel {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

.inputFieldGroup {
    margin-bottom: 1em;
    width: 90%;
    padding-left: 1em;
    margin-left: 1em;
}

.radioFieldGroup {
    margin-left: 1em;
    padding-left: 1em;
    float: left;
    display: inline;
}

.radioLabel {
    display: inline;
    padding-right: 1em;
}

.radioField {
    display: inline;
}

.inputErrorMessage {
    font-family: 'Roboto Regular';
    padding-top: 0.5em;
    font-size: 12.5px;
    color: red;
}

.suggestionsList {
    // border: 1px solid gray;
}
.suggestions {
    // border: 1px solid gray;
    width: inherit;
    box-shadow: 0 1px 1px #CCCCCC
    // padding-right: 0.6em;
}

.suggestionItem {
    border-bottom: 0.001em solid #CCCCCC;
    padding: 0.7em;
    cursor: pointer;
}

.suggestionItem:hover {
    background: #f2f2f2
}

.searchIcon {
    color: gray;
    position: absolute;
    margin-left: 1em;
    margin-top: 0.4em;
}

.searchInput {
    padding-left: 4em;
    letter-spacing: 1px;
}

.virtualizedSearchSelect {
   width: 85%;
}

