@import '~styles/themes';

.tab {
    width: 100%;
    max-height: 1000em;
    position: relative;
}

.tabNav {
    width: 50%;
    float: left;
    text-align: center;
    border-bottom: 1px solid $neutral;
}

.tabLink {
    display: inline-flex;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    font-family: 'Roboto Regular';
    padding-left: 50%;
    color: $primary;
    font-size: 0.9em;
    @include susy-media(480px) {
        font-size: 1em;
    }
}

.tabLinkActive {
    border-bottom: 2px solid $accent;
     color: $gray;
}

.tabLink:hover {
    background-color: #F2F2F2;
}
