@import '~styles/themes';


$susy: (
  columns: 12,
  container: 1140px,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
  debug: (
      image: show,
      color: rgba(#66f, .25),
      output: background,
      toggle: top right,
    )
);

.sidebar {
  @include span(2.2 of 12);
  background-color: $primary-dark;  
  min-height: 100vh;
  height: auto;
  padding: 0;
  position: relative;
}

.sidebarHeader {
    background-color: $primary;
    @include span(2.5 of 2.5 inside);
    padding-top: 7.5%;
    padding-bottom: 5%;

}

.sidebarTitle {
    color: #ffffff;
    font-size: 12px;
    padding: 1em 1em 0.9em 0.9em;
}

#sidebarTitleLink {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    padding-top: 0.1em;
}



.sidebarNavToggle {
    float: right;
    margin : -4px 0.6em;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
}

 .materialIcons {
    font-size: 1em;
    color: #ffffff;
  }

  .sidebarBody {
      margin-top: 30%;
      overflow-x: hidden;
  }

  .sidebarList {
      margin-bottom: 3em;
      width: 100%;
      overflow-x: hidden;
  }
  .sidebarItem {
    list-style: none;
    width: inherit;
    // background-color: orange;
    margin: 0.1em 0em;
    margin-left: -15%;
    float: left;
    word-wrap: break-word;
    border-bottom: 0.01px dashed rgba(255, 255, 255, 0.4);
   
  }

  .sidebarItemTitle {
    padding: 0.7em 0.3em 0.3em 0;
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
  }

  .sidebarItemIcons {
    font-size: 1.5em;
    padding: 5px 0.5em;
    width: 1em;
  }

  .sidebarItemLink {
    text-decoration: none;
    color: #ffffff;
    padding: 0em 0;
    cursor: pointer;
    display: inline-flex;
    background-color: 346196;
    padding: 0.1em 1em 0.1em 1em;
    width: inherit;
    letter-spacing: 1px;
    position: relative;
    left: -0.3em;
    border-left: 4px solid transparent;
    
  }

  .sidebarItemLink:hover {
      background-color: $primary;
    //   border-bottom: 0.1px solid #ffffff;
    //   border-top: 0.1px solid #ffffff;
  }

  .sidebarItemLinkActive {
    border-left: 4px solid $accent;
    // background: yellow;
  }