
@import '~styles/themes';

 $susy: (
  columns: 12,
  container: 1140px,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
  debug: (
      image: show,
      color: rgba(#66f, .25),
      output: background,
      toggle: top right,
    )
);

.searchPage {
    background-color: #F2F2F2;
    padding-top: 1em;
    padding-bottom: 1em;
    height: auto;
    @include span(12 of 12);
}

.searchContent {
   margin: 0 0.5em;
    background: white;
    position: relative;
    @include span(11.5 of 12);
    height: auto;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    @include susy-breakpoint(min-width 480px) {
     @include span(11.5 of 12);
     margin: 0 2em;
    }
}

.searchResultCaption {
    margin: 0.7em;
    background-color:  #F2F2F2;
    padding: 0.1em 0.5em 0.1em 0.5em;
}
.searchResultItem {
    border: 3px solid  #F2F2F2;
    margin: 0.2em 0.7em;
    @include span(10.9 of 11.5);
    padding: 0.1em 0 0.7em 0;
    border-radius: 5px;

    @include susy-breakpoint(min-width 480px) {
       @include span(11.2 of 11.5);
    }
}

.avartar {
    width: 5.5em;
    height: 5.5em;
    border: 2px solid #3C70AD;
    margin: 0.7em 0.5em;
}

.resultActionButton {
    margin: 0em 0.7em;
}

.resultContent {
    margin-left: 0.5em;
    float: left;
    @include susy-breakpoint(min-width 480px) {
        margin-left: 1em;
    }
}

.resultAction {
    float:left
}

.tagHeading {
    font-size: 0.8em;
    line-height: 0.6em;
    display: inline;
    letter-spacing: 0.7px;
}
.inlineTagHeadings {
  width: 100%;
  margin-bottom: 0.9em;
}

.inlineTag{
    display: inline;
    margin-right: 1.5em;
    
}