@import '~styles/themes';

$susy: (
  columns: 12,
  container: 1140px,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: content-box,
  debug: (
      image: show,
      color: rgba(#66f, .25),
      output: background,
      toggle: top right,
    )
);

@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.table {
    @include clearfix();
    width: inherit;
    margin: 30px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
    max-height: 50vh;
    position: relative;
}


.row {
    width: 100%;
    font-size: 13px;
    box-sizing: border-box;
    background: white;
    display: flex;
    position: relative;
    // border-left: 1px solid #cccccc;
    // border-bottom: 1px solid #cccccc;
}

.row:nth-child(2) {
    margin-top: 2.7em;
}
.column:first-child {
    width: 10%;
}

.buttonContainer {
    position: absolute;
    right: 5px;
    top: 6px;
}

.button {
    padding-top: 1.5px;
    margin-right: 6px;
    color: $neutral;
    font-size: 1.5em;
    margin-right: 0.5em;
}
.button:hover {
    color: $primary;
}

.buttonSecond{
    @extend .button;
    color: $neutral
}
.buttonSecond:hover {
    color: $accent;
}

.header {
    @extend .row;
    color: $primary;
    font-size: 13px;
    letter-spacing: 1px;
    border-bottom: 2px solid $primary;
    font-family: 'Roboto Bold';
    font-weight: bold;
    background: white;
    position: absolute;
    z-index: 55;
    width: 100%;
    // margin-top: -0.4em;
    
}

.column {
   width: 33%;
   float: left;
   text-align: left;
   font-family: 'Roboto Regular';
   padding: 9px;
   border-bottom: 1px solid #cccccc;
//    border-right:  1px solid #cccccc;
}

.row:hover {
    border-bottom: 1px solid $primary;
    cursor: pointer;
}

.paginationIndex {
    padding: 7px;
    font-size: 13px;
    font-family: 'Roboto Regular';
    background-color: $neutral;
    margin: 1px;
    margin-right: 5px;
}