// @import 'normalize';
@import "normalize";
@import "~susy/sass/susy";


$susy: (
  columns: 12,
  container: 1140px,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
  debug: (
      image: show,
      color: rgba(#66f, .25),
      output: background,
      toggle: top right,
    )
);

@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}
// Libraries and helpers
// -------------
@import 'lib/lib';
@import 'helpers/helpers';

//Variables
//--------
@import 'variables/colors';
@import 'variables/typography';
@import 'variables/breakpoints';
@import 'variables/themes'; //only when necessary

//Reset and base files
//---------
@import 'base/base';


//Layouts
//------
@import 'layouts/layouts';
@import './../../../LandingModule/styles/layout';

//Objects
//-----
// @import 'objects/buttons';
// @import 'objects/input';
// @import 'objects/header';
// @import 'objects/sidebar';
// @import  'objects/tabs';
// @import 'objects/card';
//Other objects as necessary

//Components
//---------
@import './../../../components/Header/Header';

// @import "components/content";
// @import "components/footer";
// @import "components/sidebar";


//Utilities
//---------
@import 'utilities';
