@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  // src: url('./../../fonts/iconfonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('fonts/iconfonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('fonts/iconfonts/MaterialIcons-Regular.woff') format('woff'),
    url('fonts/iconfonts/MaterialIcons-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/RobotoTTF/Roboto-Light.ttf') format('truetype')
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('fonts/RobotoTTF/Roboto-Bold.ttf') format('truetype')
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/RobotoTTF/Roboto-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Roboto Thin';
  src: url('fonts/RobotoTTF/Roboto-Thin.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('fonts/RobotoTTF/Roboto-Bold.ttf') format('truetype')
}

.materialIcons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

h1, h2, h3, h4,h5, h6, {
  font-size: 1.6rem;
  font-family: 'Roboto Regular';
}

.t-title {
  font-family: 'Roboto Light';
}

a, label, span, p, ul, li {
  font-family: 'Roboto Light';
}
