@import "~susy/sass/susy";

.u-overlay {
  background: rgba(0,0,0,0.2);
  height: 100vh;

}

.visible-desktop {
  display: none;
  @include susy-breakpoint(min-width 980px){
    display: inline-block;
  }
}
.hidden-desktop {
  display: inline-block;
  @include susy-breakpoint(min-width 980px){
    display: none
  }

}
