@import '~styles/themes';

$susy: (
  columns: 12,
  container: 1140px,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: content-box,
  debug: (
      image: hide,
      color: rgba(#66f, .25),
      output: background,
      toggle: top right,
    )
);

.left {
    @include span(7.5 of 12);
    // background-color: yellow;
    min-height: 80vh;
    padding: 2em 1em 0.5em 1em;
    
}
.right {
    @include span(4.5 of 12);
    // background-color: orange;
    min-height: 80vh;
    padding: 2em 1em 0.5em 1em;
    
}

.pageLayout {
    float: left;
    @include span(9.8 of 12);
    background-color: #F8F8F8;
}

.alignAddButton {
    float: right;
    margin-right: 2.5em;
}

.card {
    position: relative;
    top: 1em;
    background: $white;
    padding: 1em 0 1em 0;
    min-height: 18em;
    border: 1px solid transparent;
    box-shadow: 1px 1px 11px 0px #cccccc;
    border-radius: 5px;
}