.menuDropdown {
    width: auto;
    border: 1px solid transparent;
    position: absolute;
    top: -1.3em;
    z-index: 55;
    left: -5em;
    box-shadow: 1px 1px 1px 0 #cccccc;
    padding: 0.5em;
    background: white;
    
}

